<template>
  <canvas class="canvas-gauges"/>
</template>

<script>
import GaugeBase from './Base.vue'

export default {
  extends: GaugeBase,
  data: function () {
    return {
      opt: {
        title: 'Courant Batterie',
        units: 'A',
        minValue: 0,
        maxValue: 60,
        majorTicks: [0,5,10,15,20,25,30,35,40,45,50,55,60],
        minorTicks: 5,
        highlights: [
          {'from': 0, 'to': 30, 'color': 'rgba(106, 197, 244, .75)'},
          {'from': 30, 'to': 40, 'color': 'rgba(252, 81, 11, .75)'},
          {'from': 40, 'to': 60, 'color': 'rgba(200, 50, 50, .75)'}
        ]
      }
    }
  },
}
</script>


