<template>
  <canvas class="canvas-gauges"/>
</template>

<script>
import GaugeBase from './Base.vue'

export default {
  extends: GaugeBase,
  data: function () {
    return {
      opt: {
        title: 'Humidité Box',
        units: '%',
        minValue: 0,
        maxValue: 100,
        majorTicks: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        minorTicks: 10,
        highlights: [
          { from: 0, to: 30, color: 'rgba(200, 50, 50, .75)' },
          { from: 30, to: 40, color: 'rgba(252, 81, 11, .75)' },
          { from: 40, to: 60, color: 'rgba(106, 197, 244, .75)' },
          { from: 60, to: 70, color: 'rgba(252, 81, 11, .75)' },
          { from: 70, to: 100, color: 'rgba(200, 50, 50, .75)' }
        ]
      }
    }
  },

}
</script>


