<template>
  <canvas class="canvas-gauges"/>
</template>

<script>
import GaugeBase from './Base.vue'

export default {
  extends: GaugeBase,
  props: {
    unit: {
      type: String,
      default: 'kmh'
    }
  },
  data: function () {
    return {
      opt: {
        title: 'Vitesse',
        units: '-',
        minValue: 0,
        maxValue: 30,
        majorTicks: [0,5,10,15,20,25,30],
        minorTicks: 5,
        highlights: [
          {'from': 0, 'to': 15, 'color': 'rgba(252, 81, 11, .75)'},
          {'from': 15, 'to': 25, 'color': 'rgba(106, 197, 244, .75)'},
          {'from': 25, 'to': 30, 'color': 'rgba(252, 81, 11, .75)'},
        ]
      }
    }
  },
  mounted: function() {
    if (this.unit === 'kts') {
      this.opt.units = 'kts'
      this.opt.maxValue = 16,
      this.opt.majorTicks = [0,2,4,6,8,10,12,14,16],
      this.opt.minorTicks = 5,
      this.opt.highlights = [
        {'from': 0, 'to': 8, 'color': 'rgba(252, 81, 11, .75)'},
        {'from': 8, 'to': 14, 'color': 'rgba(106, 197, 244, .75)'},
        {'from': 14, 'to': 16, 'color': 'rgba(252, 81, 11, .75)'},
      ]
    } else {
      this.opt.units = 'Km/h'
      this.opt.maxValue = 30,
      this.opt.majorTicks = [0,5,10,15,20,25,30],
      this.opt.minorTicks = 5,
      this.opt.highlights = [
        {'from': 0, 'to': 15, 'color': 'rgba(252, 81, 11, .75)'},
        {'from': 15, 'to': 25, 'color': 'rgba(106, 197, 244, .75)'},
        {'from': 25, 'to': 30, 'color': 'rgba(252, 81, 11, .75)'},
      ]
    }
    this.redraw()
  }
}
</script>
