<template>
  <canvas class="canvas-gauges"/>
</template>

<script>
import GaugeBase from './Base.vue'

export default {
  extends: GaugeBase,
  data: function () {
    return {
      opt: {
        title: 'Température Box',
        units: '\u2103',
        minValue: 0,
        maxValue: 90,
        majorTicks: [0,10,20,30,40,50,60,70,80,90],
        minorTicks: 10,
        highlights: [
          {'from': 0, 'to': 45, 'color': 'rgba(106, 197, 244, .75)'},
          {'from': 45, 'to': 60, 'color': 'rgba(252, 81, 11, .75)'},
          {'from': 60, 'to': 90, 'color': 'rgba(200, 50, 50, .75)'}
        ]
      }
    }
  },

}
</script>


