<template>
  <footer class="footer">
    <div class="container">
      <span class="text-light">V{{ version }} &bullet; Copyright &copy; 2018 HEIA-FR</span>
    </div>
  </footer>
</template>

<script>

var pjson = require('@/package.json')

export default {
  data: function () {
    return {
      version: pjson.version
    }
  },
}

</script>

<style>
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #333333;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

</style>
