<template>
  <b-navbar 
    toggleable="md" 
    type="dark" 
    fixed="top" 
    variant="primary">

    <b-navbar-toggle target="nav_collapse"/>
    <b-navbar-brand 
      class="ml-3 ml-md-0" 
      to="/">Boatlink</b-navbar-brand>

    <b-collapse 
      id="nav_collapse" 
      is-nav>
      <b-navbar-nav>
        <b-nav-item 
          to="/" 
          exact>Tableau de bord</b-nav-item>
        <b-nav-item to="/chart">Historique</b-nav-item>
        <b-nav-item to="/box">Boîte télécom</b-nav-item>
        <b-nav-item to="/settings">Configuration</b-nav-item>
        <b-nav-item to="/about">A propos</b-nav-item>
      </b-navbar-nav>
    </b-collapse>

    <b-navbar-nav class="ml-auto">
      <b-nav-text class="icons text-light">
        <bluetooth-icon :status="bluetoothStatus"/>
        <wifi-icon :status="wifiStatus"/>
        <battery-icon :level="batteryLevel"/>
      </b-nav-text>
    </b-navbar-nav>

  </b-navbar>
</template>

<script>
import WifiIcon from '@/components/Icon/Wifi.vue'
import BluetoothIcon from '@/components/Icon/Bluetooth.vue'
import BatteryIcon from '@/components/Icon/Battery.vue'
import { mapState } from 'vuex'

export default {
  components: {
    WifiIcon,
    BluetoothIcon,
    BatteryIcon
  },
  computed: {
    wifiStatus() {
      if (this.$store.state.watchdog.wifi > 40) return 'off'
      return 'on'
    },
    bluetoothStatus() {
      if (this.$store.state.watchdog.bluetooth > 6) return 'off'
      return 'on'
    },
    ...mapState({
      batteryLevel: state => state.boat.data.batteryPercent,
    })
  }
}
</script>

<style>
.icons {
  font-size: 1.5rem;
}
</style>
