$heia-blue: #007CB7;
$heia-gray: #ACA39A;
$heia-inf: #E71939;
$heia-tlc: #FBAF5F;
$heia-ele: #DEB408;
$heia-mec: #7E4300;

$gulf-blue: #6AC5F4;
$gulf-orange: #FC510B;
$gulf-dark: #092B2B;
$gulf-light: #F7F7F7;

$body-bg: $gulf-light;
$body-color: #111;

$theme-colors: (
  "primary": $heia-blue,
);
