<template>
  <div>
    <header>
      <Navbar />
    </header>
    <main :class="mainStatus">
      <div class="container">
        <nuxt/>
      </div>
    </main>
    <Footer />
  </div>
</template>

<script>
import Footer from '@/components/Layout/Footer'
import Navbar from '@/components/Layout/Navbar'
import 'vue-material-design-icons/styles.css'
// import simulator from '@/services/simulator'
import listener from '@/services/listener'
import watchdog from '@/services/watchdog'

export default {
  components: {
    Footer,
    Navbar,
  },
  computed: {
    mainStatus() {
      if (this.$store.state.watchdog.wifi > 40) return 'no-wifi'
      if (this.$store.state.watchdog.bluetooth > 6) return 'no-bluetooth'
      return 'ok'
    },
  },
  mounted: function() {
    // simulator(this)
    listener(this)
    watchdog(this)
  },
}
</script>

<style lang="scss">
@import "assets/custom.scss";
@import "~bootstrap/scss/bootstrap.scss";

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

main > .container {
  padding: 80px 15px 0;
}

main.no-wifi {
  background-color: deeppink;
}

main.no-bluetooth {
  background-color: orange;
}

</style>

