<template>
  <section class="container">
    <div>
      <h3 class="text-center m-3 d-md-none d-lg-none d-xl-none">A propos</h3>
      <img 
        class="m-3" 
        src="/img/logo_pirate.svg" 
        width="220px">
      <p>
        Cette application est offerte par la Haute école d'ingénierie et d'architecture de Fribourg
      </p>
      <div class="m-4">
        <table class="table">
          <tbody>
            <tr>
              <td>Auteur</td>
              <td>Jacques Supcik</td>
            </tr>
            <tr>
              <td>Contributeurs</td>
              <td>Leila Ouderni, Granit Morinaj</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

td {
  justify-content: left;
  align-items: left;
  text-align: left;
}
</style>
