<template>
  <div>
    <h3 class="text-center m-3 d-md-none d-lg-none d-xl-none">Boîte télécom</h3>
    <div class="text-center m-4">
      <TempGauge 
        :value="temperature" 
        class="m-2" />
      <HumGauge 
        :value="humidity" 
        class="m-2" />
    </div>
  </div>
</template>

<script>
import TempGauge from '@/components/Gauge/Temperature.vue'
import HumGauge from '@/components/Gauge/Humidity.vue'
import { mapState } from 'vuex'

export default {
  components: {
    TempGauge,
    HumGauge
  },
  computed: mapState({
    temperature: state => state.box.data.temperature,
    humidity: state => state.box.data.humidity
  })
}
</script>

<style>
</style>
