<template>
  <div class="mt-3">
    <h3 class="text-center m-3 d-md-none d-lg-none d-xl-none">Historique</h3>
    <speed-chart 
      :height="250" 
      :chart-data="speedDatacollection" 
      class="m-2"/>
    <current-chart 
      :height="250" 
      :chart-data="currentDatacollection" 
      class="m-2"/>
  </div>
</template>

<script>
import { Line, mixins } from 'vue-chartjs'

const SpeedChart = {
  extends: Line,
  mixins: [mixins.reactiveProp],
  props: ['chartData'],
  mounted() {
    this.renderChart(this.chartData, this.options)
  },
  data: function() {
    return {
      options: {
        responsive: true,
        maintainAspectRatio: false,
        animation: {
          duration: 0 // general animation time
        }
      }
    }
  }
}

const CurrentChart = {
  extends: Line,
  mixins: [mixins.reactiveProp],
  props: ['chartData'],
  mounted() {
    this.renderChart(this.chartData, this.options)
  },
  data: function() {
    return {
      options: {
        responsive: true,
        maintainAspectRatio: false,
        animation: {
          duration: 0 // general animation time
        }
      }
    }
  }
}

export default {
  components: {
    SpeedChart,
    CurrentChart
  },
  computed: {
    speedDatacollection() {
      return {
        labels: this.$store.state.boat.historical.map(x => x.label),
        datasets: [
          {
            label: 'Vitesse du bateau',
            backgroundColor: '#6AC5F4',
            data: this.$store.state.boat.historical.map(x => x.data.boatSpeed)
          }
        ]
      }
    },
    currentDatacollection() {
      return {
        labels: this.$store.state.boat.historical.map(x => x.label),
        datasets: [
          {
            label: 'Courant de la batterie',
            backgroundColor: '#FC510B',
            data: this.$store.state.boat.historical.map(
              x => x.data.batteryCurrent
            )
          }
        ]
      }
    }
  }
}
</script>
