<template>
  <div class="pb-1">
    <h3 class="text-center m-3 d-md-none d-lg-none d-xl-none">Tableau de bord</h3>
    <div class="text-center m-4">
      <CurrentGauge
        :value="boatData.batteryCurrent"
        class="m-2" />
      <SpeedGauge
        v-if="speedUnit === 'kts'"
        :value="boatData.boatSpeedK"
        class="m-2"
        unit="kts" />
      <SpeedGauge
        v-else
        :value="boatData.boatSpeed"
        class="m-2"
        unit="kmh"/>
    </div>
    <div
      id="error1"
      class="alert alert-danger d-none"
      role="alert"/>
    <div
      id="error2"
      class="alert alert-danger d-none"
      role="alert"/>

    <table class="table">
      <tbody>
        <tr
          v-for="row in dataDef"
          :key="row[0]">
          <th>{{ row[1] }}</th>
          <td style="width: 10em">{{ boatData[row[0]] }} {{ row[2] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import SpeedGauge from '@/components/Gauge/Speed.vue'
import CurrentGauge from '@/components/Gauge/Current.vue'
import { mapState } from 'vuex'

/* global $ */
export default {
  components: {
    SpeedGauge,
    CurrentGauge
  },
  data() {
    return {
      dataDef: [
        ['boatSpeed', 'Vitesse du bateau', 'km/h'],
        ['boatSpeedK', 'Vitesse du bateau (nœud)', 'kts'],
        ['motorSpeed', 'Vitesse du moteur', 'RPM'],
        ['batteryCurrent', 'Courant batterie', 'A'],
        ['batteryPercent', 'Charge batterie', '%'],
        ['batteryVoltage', 'Tension batterie', 'V'],
        ['leftFoil', 'Foil gauche', '°'],
        ['rightFoil', 'Foil droit', '°'],
        ['temperature1', 'Température MPU', '\u2103'],
        ['batteryMaxCurrent', 'Courant max (endurance)', 'A'],
        ['ppmDriver', 'PPM driver', ''],
      ]
    }
  },
  computed: {
    ...mapState({
      boatData: state => state.boat.data,
      speedUnit: state => state.settings.speedUnit
    })
  },
  updated: function() {
    if (this.boatData.error1 == '') {
      $('#error1').toggleClass('d-none', true)
    } else {
      $('#error1').html(this.boatData.error1)
      $('#error1').toggleClass('d-none', false)
    }
    if (this.boatData.error2 == '') {
      $('#error2').toggleClass('d-none', true)
    } else {
      $('#error2').html(this.boatData.error2)
      $('#error2').toggleClass('d-none', false)
    }
  }
}
</script>
