<template>
  <div>
    <h3 class="text-center m-3 d-md-none d-lg-none d-xl-none">Configuration</h3>
    <form class="m-4">
      <div class="form-group row">
        <label 
          for="inputEmail3" 
          class="col-md-3 col-form-label">Unité de vitesse</label>
        <div class="col-md-3">
          <select 
            v-model="unit" 
            class="custom-select mr-md-3">
            <option value="kmh">Km/h</option>
            <option value="kts">kts</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  computed: {
    unit: {
      get() {
        return this.$store.state.settings.speedUnit
      },
      set(value) {
        if (value === 'kts') {
          this.$store.commit('settings/setKts')
        } else {
          this.$store.commit('settings/setKmh')
        }
      }
    }
  }
}
</script>
