<template>
  <battery100 v-if="level >= 95"/>
  <battery90 v-else-if="level >= 85"/>
  <battery80 v-else-if="level >= 75"/>
  <battery70 v-else-if="level >= 65"/>
  <battery60 v-else-if="level >= 55"/>
  <battery50 v-else-if="level >= 45"/>
  <battery40 v-else-if="level >= 35"/>
  <battery30 v-else-if="level >= 25"/>
  <battery20 v-else-if="level >= 15"/>
  <battery10 v-else-if="level >= 5"/>
  <battery0 v-else/>
</template>

<script>
import Battery0 from 'vue-material-design-icons/BatteryOutline.vue'
import Battery10 from 'vue-material-design-icons/Battery10.vue'
import Battery20 from 'vue-material-design-icons/Battery20.vue'
import Battery30 from 'vue-material-design-icons/Battery30.vue'
import Battery40 from 'vue-material-design-icons/Battery40.vue'
import Battery50 from 'vue-material-design-icons/Battery50.vue'
import Battery60 from 'vue-material-design-icons/Battery60.vue'
import Battery70 from 'vue-material-design-icons/Battery70.vue'
import Battery80 from 'vue-material-design-icons/Battery80.vue'
import Battery90 from 'vue-material-design-icons/Battery90.vue'
import Battery100 from 'vue-material-design-icons/Battery.vue'

export default {
  components: {
    Battery0,
    Battery10,
    Battery20,
    Battery30,
    Battery40,
    Battery50,
    Battery60,
    Battery70,
    Battery80,
    Battery90,
    Battery100,
  },
  props: {
    level: {
      type: Number,
      default: 0
    }
  },
}
</script>

