<template>
  <bluetooth-on v-if="status === 'on'"/>
  <bluetooth-off v-else-if="status === 'off'"/>
  <bluetooth v-else/>
</template>

<script>
import Bluetooth from 'vue-material-design-icons/Bluetooth.vue'
import BluetoothOff from 'vue-material-design-icons/BluetoothOff.vue'
import BluetoothOn from 'vue-material-design-icons/BluetoothConnect.vue'

export default {
  components: {
    Bluetooth,
    BluetoothOn,
    BluetoothOff
  },
  props: {
    status: {
      type: String,
      default: 'on'
    }
  }
}
</script>

