<template>
  <wifi-on v-if="status === 'on'"/>
  <wifi-off v-else-if="status === 'off'"/>
  <wifi v-else/>
</template>

<script>
import Wifi from 'vue-material-design-icons/Wifi.vue'
import WifiOff from 'vue-material-design-icons/WifiOff.vue'
import WifiOn from 'vue-material-design-icons/WifiStrength4.vue'

export default {
  components: {
    Wifi,
    WifiOn,
    WifiOff
  },
  props: {
    status: {
      type: String,
      default: 'on'
    }
  }
}
</script>

